<div class="row empty-gvapi-wrapper d-flex justify-content-center align-items-center flex-column" id="div-empty-gvapi-wrapper">
    <figure id="fig-car-search-icon"><img src="{{ieWarningIcon}}" id="img-car-search-icon" alt="{{iconAltText}}"/></figure>
    <p class="text-format mainTitle" id="p-main-title">{{ mainTitle }}</p>
    <p class="text-format subTitle" id="p-sub-title">{{ subTitlePrefix }} <u><a [href]="chromeUrl" id="a-link-google-page" class="browser-link">{{chromeUrlText}}</a></u> or <u><a [href]="safariUrl" id="a-link-safari-page" class="browser-link">{{safariUrlText}}</a></u> {{ subTitleSuffix }}</p>

</div>



