<div class="row empty-gvapi-wrapper d-flex justify-content-center align-items-center flex-column" id="div-empty-gvapi-wrapper">
    <figure id="fig-car-search-icon"><img src="{{carIcon}}" id="img-car-search-icon" alt="{{carIconAltText}}"/></figure>
    <p class="text-format mainTitle" id="p-main-title">{{ blankStateMaintitle }}</p>
    <p class="text-format subTitle" id="p-sub-title">{{ blankStateSubtitle }}</p>
    <a [href]="extNav.getSearchPageLink()" id="a-link-search-page"><button  id="btn-search-vehicle" class="btn btn-primary mt-2 purchases-btn-blank-state"> {{ blankStateButtonText }}</button></a>
</div>